<div class="container">
  <div class="row">
    <table class="table border table-hover table-inveres mt-5">
      <% if @result == [] %>
        <h3 class="mt-3 text-center">検索結果がありません。</h3>
      <% elsif @store.present? %>
      <% search_word = @q.name_cont %>
      <tbody>
        <tr>
          <% @store.each do |f| %>
          <td><%= image_tag f.get_image(200, 200), class: 'image' %></td>
          <td><%= link_to f.name, store_items_path(f.id), class: 'text-dark' %></td>
          <td><%= f.address %></td>
        </tr>
        <% end %>
      <% else %>
        <h3 class="mt-3 text-center">検索結果がありません。</h3>
      <% end %>
      </tbody>
    </table>
  </div>
</div>