<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4><strong>
        <%= @store.name %> 店舗詳細
      </strong></h4>
    </div>
    <div class="col-lg-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>店舗ID</td>
            <td><%= @store.id %></td>
          </tr>
          <tr>
            <td>店舗名</td>
            <td><%= @store.name %></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>