<div class="container">
  <div clasas="row">
    <div class="col-lg-10 offset-1">
      <h4><storng>
        ご注文ありがとうございました。<br>
        商品出来上がりまでしばらくお待ちください。
      </storng>
      </h4>
      <p>
        受取可能画面が表示されましたらカウンターまでお越しください。
      </p>
    </div>
  </div>
</div>